<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs');%>
        <title>
            <%= title%>
        </title>
</head>

<body class="h-screen">
    <div class="h-screen bg-indigo-200 font-inter flex flex-col justify-center items-center">
        <h1 class="text-8xl text-gray-900 font-inter">4<span class="text-indigo-500 font-inter">0</span>4</h1>
        <p class="text-2xl mt-2 text-gray-800">Oops! Nothing was found...</p>
        <a class="text-lg mt-6 outline-dotted-cool-gray-400 bg-gray-800 text-gray-100 py-2 px-5 rounded-sm"
            href="/">Return To Homepage</a>
    </div>
</body>

</html>