<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs');%>
        <title>MAIN PAGE Index</title>
    </head>
    <body class="font-inter">
        <%- include('./partials/chapters.ejs');%>
    </body>
</html>
