<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs');%>
        <title>MAIN PAGE Index</title>
    </head>
    <body>
        <% chaptersArr.forEach(element=>{ %>
            <a href="/topic/<%= element.id%>">
                <h1><%=element.chapter%></h1>
            </a>
        <% }) %>

    </body>
</html>
